@font-face {
    font-family: "Comic Sans MS";
    src: url("ComicSansMS.ttf");
}

* {
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS";
}

.main {
    max-width: 100%;
    font-weight: bold;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.equation {
    color: midnightblue;
    font-weight: bold;
    font-size: 200%;
}

.members {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    max-width: 100%;
    height: 50px;
    font-size: 30px;
}

.calcbutton {
    max-width: 75%;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 20px;
    font-size: 200%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-left: 10%;
    margin-right: 12.5%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.calcbutton:hover {
    border-color: lightskyblue;
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.calculated {
    display: flex;
    flex-direction: column;
}